#!/bin/sh

# {{ output "date" "+%V" | trim }}

# Use TMPDIR if set, otherwise default to /tmp
tmpdir=${TMPDIR:-/tmp}
repo="alacritty/alacritty"

# Fetch the latest release data from GitHub API
response=$(curl -s "https://api.github.com/repos/$repo/releases/latest")
tarball_url=$(echo "$response" | jq --raw-output '.tarball_url')
tag_name=$(echo "$response" | jq --raw-output '.tag_name')
asset_name="alacritty-$tag_name"

if command -v alacritty > /dev/null 2>&1; then
  installed_version=$(alacritty --version)
  remote_version=$(echo "$tag_name" | sed 's/v//')

  if [ "$installed_version" = "alacritty $remote_version" ]; then
    echo "$installed_version already installed"
    exit 0
  fi
fi

# Change to the temporary directory and download the tarball
cd $tmpdir
wget -q --show-progress -O "$asset_name.tar.gz" "$tarball_url"
mkdir -p "$asset_name"
tar xzf "$asset_name.tar.gz" --strip-components=1 -C "$asset_name"

# Enter the extracted directory and install Alacritty
cd "$asset_name"
cargo install --path alacritty

# Install the Desktop Entry and Icon
install -Dm 644 extra/logo/alacritty-term.svg $HOME/.local/share/icons/Alacritty.svg
desktop-file-install --dir=$HOME/.local/share/applications extra/linux/Alacritty.desktop
update-desktop-database $HOME/.local/share/applications

# Install Man Pages
scdoc < extra/man/alacritty.1.scd | gzip -c > target/release/alacritty.1.gz
scdoc < extra/man/alacritty-msg.1.scd | gzip -c > target/release/alacritty-msg.1.gz
scdoc < extra/man/alacritty.5.scd | gzip -c > target/release/alacritty.5.gz
scdoc < extra/man/alacritty-bindings.5.scd | gzip -c > target/release/alacritty-bindings.5.gz

# Move man pages to the user-specific man directory
install -Dm 644 target/release/alacritty.1.gz $HOME/.local/share/man/man1/
install -Dm 644 target/release/alacritty-msg.1.gz $HOME/.local/share/man/man1/
install -Dm 644 target/release/alacritty.5.gz $HOME/.local/share/man/man1/
install -Dm 644 target/release/alacritty-bindings.5.gz $HOME/.local/share/man/man1/

# Shell Completion
install -Dm 644 extra/completions/alacritty.fish ~/.config/fish/completions/

