".local/share/pyenv":
    type: "git-repo"
    url: "https://github.com/pyenv/pyenv.git"
    exact: false 
    refreshPeriod: "168h"
".local/share/pyenv/plugins/pyenv-virtualenv":
    type: "git-repo"
    url: "https://github.com/pyenv/pyenv-virtualenv.git"
    exact: true
    refreshPeriod: "168h"
".local/share/tmux/plugins/tpm":
    type: "git-repo"
    url: "https://github.com/tmux-plugins/tpm.git"
    exact: true
    refreshPeriod: "168h"
".local/share/fzf":
    type: "git-repo"
    url: "https://github.com/junegunn/fzf.git"
    clone.args: ["--depth", "1"]
    exact: true
    refreshPeriod: "168h"

