[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "zoxide"]
	path = zoxide
	url = https://github.com/ajeetdsouza/zoxide.git
[submodule "ripgrep"]
	path = ripgrep
	url = https://github.com/BurntSushi/ripgrep
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "delta"]
	path = delta
	url = https://github.com/dandavison/delta.git
