[init]
	defaultBranch = main
[user]
	email = "samuel.wilson@bluehalo.com"
	name = Sam Wilson
[core]
	editor = nvim
	autocrlf = input
	pager = delta
[interactive]
	diffFilter = delta --side-by-side
[delta]
	navigate = true # use n and N to move between diff sections
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
{{- if eq .chezmoi.hostname "ss-westwc-lnx" }}
[credential]
	credentialStore = secretservice
	helper = 
	helper = /usr/local/bin/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
{{ end -}}

