[init]
    defaultBranch = main
[user]
    email = {{ .email | quote }}
    name = Sam Wilson
[core]
    editor = nvim
    autocrlf = input
    pager = delta --diff-so-fancy
    excludesFile = $HOME/.config/git/ignore
[interactive]
    diffFilter = delta --color-only --diff-so-fancy
[delta]
    navigate = true
    features = side-by-side
[merge]
    conflictstyle = diff3
[rebase]
    autosquash = true
[diff]
    colorMoved = default
[alias]
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
    graph = "log --graph --oneline"
[push]
    autoSetupRemote = true
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[credential]
    credentialStore = gpg
    helper = cache --timeout 21600
    helper =
    helper = manager
[rerere]
    enabled = true
[credential "https://dev.azure.com"]
    useHttpPath = true
[pull]
    ff = only
